.header {
  height: 90px;
  z-index: 99999;
  background: #fff;
  overflow: hidden;
  padding: 15px 45px;
  box-sizing: border-box; }

.mod-heroslider {
  margin-top: 0; }

.header .menuToggle, .mobile-search, .logo-bar {
  display: none; }

.col-left {
  float: left; }

.col-right {
  float: left; }

  /*
.maincontain a {
  color: #fff; }
  .maincontain a:hover {
    color: #999; }
*/
.maincontain .main-menu a:hover {
  color: #f38b00;
  text-decoration: none; }
 
 .maincontain .main-menu .primary-level a:hover {
  color: #fff;
  text-decoration: none; }
  
#main-menu a:hover {
   text-decoration:underline;
   color:#f38b00;
		  }

#main-menu ul li{
	margin-bottom:0px;
}
		  
@media (max-width: 765px) {	
	#main-menu .primary-level.active a {
	  color: #fff;
	  text-decoration: none; }  
	#main-menu .primary-level.active a:hover {
	  color: #fff;
	  text-decoration: none; }
	#main-menu .primary-level.active a:hover:after {
		background: #fff;
	}
}
.maincontain .main-menu li li a:hover {
  color: #f38b00;
  text-decoration: underline; }

.maincontain .main-menu li li a:active {
  color: #f38b00;
  text-decoration: none; }

.logo-bar {
  position: absolute;
  left: 50px;
  top: 15px;
  display: none;
  z-index: 99999;
  height: 0%;
  }
  .logo-bar img {
    height: 50%; }

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden; }

a.skip:active,
a.skip:focus,
a.skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible; }

.main-menu-contain {
  background: #ffffff;
  font-family: 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;
  font-weight: normal;
  position: absolute;
  z-index: 999999;
  top: 90px;
  left: 0%;
  width: 100%;
  height: 59px;
  position: absolute; }
  .main-menu-contain.active {
    position: fixed;
    top: 0; }
	
.main-menu-contain-spacer{
	display:block;
	height: 58px;
}
/*
.logo-bar {
  left: 15px; }
*/
.header {
	max-width:1280px;
	margin:0 auto;
  height: 90px;
  z-index: 9999999;
  background: transparent;
  overflow: hidden;
  padding: 15px 45px;
  box-sizing: border-box;
  position: relative;
  pointer-events: none; }
  @media (max-width: 765px) {
    .header {
      background: #ebebeb; } }

@media (max-width: 765px) {
  .no-scroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .main-menu-contain {
    position: absolute;
    z-index: 999999;
    top: 50px;
    width: 100%;
    height: auto; }
  .header {
    height: 50px;
    /*position: fixed;*/
	position:relative;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 10px;
    overflow: hidden;
    box-shadow: 0px 6px 25px -8px rgba(0, 0, 0, 0.63);
    /******search******/ }
    .header::-webkit-scrollbar {
      display: none; }
    .header > div.header-contain {
      height: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .header .menuToggle {
      display: block;
      cursor: pointer;
      width: 30px;
      height: 30px;
      /*margin-left: 10px; */
      background: url(../images/mobile-menu-icon.png) transparent no-repeat center center;
      background-size: cover;
      pointer-events: visible;
      position: relative; }
    .header .extraNav {
      display: none; }
    .header .logo-wrapper {
      width: 100px;
      margin: auto; }
      .header .logo-wrapper .logo {
        width: 100px;
        position: relative; }
    .header .search {
      width: auto; }
    .header .search-submit {
      display: block;
      cursor: pointer;
      width: 38px;
      height: 30px;
      background: url(../images/mobile-search-icon.png) transparent no-repeat center center;
      background-size: contain;
      float: right;
      position: relative;
      top: 5px; } }
    @media (max-width: 765px) and (max-width: 765px) {
      .header .search-submit {
        top: 0; } }

@media (max-width: 765px) {
    .header .search-input,
    .header .search .fa-search {
      display: none; }
    .header .search .search-contain {
      height: 40px;
      width: auto; }
  .mobile-search {
    display: block;
    /*position: fixed;*/
	position:absolute;
    top: -15px;
    left: 0%;
    width: 100%;
    margin-left: 0;
    z-index: 9999;
    background: #eeeeee;
    -webkit-transition: 300ms top ease;
    transition: 300ms top ease;
    pointer-events: none; }
    .mobile-search.active {
      top: 50px;
      pointer-events: visible; }
    .mobile-search form {
      padding: 15px; }
      .mobile-search form input {
        border: none;
        padding: 0 15px;
        height: 35px;
        line-height: 35px;
        font-size: 14px; }
  .header-spacer {
    height: 50px;
    display: none; } }

.header-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header-contain .logo-wrapper {
    display: inline-block;
    pointer-events: visible; }
    .header-contain .logo-wrapper a {
      display: inline-block; }
  .header-contain .search .search-input {
    opacity: 0;
    -webkit-transition: 300ms opacity ease;
    transition: 300ms opacity ease;
    pointer-events: none; }
    .header-contain .search .search-input.active {
      opacity: 1;
      pointer-events: visible; }
    .header-contain .search .search-input form {
      padding: 0 10px 0; }
      .header-contain .search .search-input form input {
        padding: 0 15px;
        width: 280px; }
  .header-contain .search-submit {
    pointer-events: visible;
    position: relative;
    top: 7px; }
    @media (max-width: 765px) {
      .header-contain .search-submit {
        top: 0; } }
    .header-contain .search-submit:hover {
      cursor: pointer; }

nav {
  background: #ffffff;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 1280px;
  z-index: 9999; }
  @media (max-width: 765px) {
    nav {
      background: #fff;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  nav .extra-nav {
    display: inline-block;
    text-align: right;
    position: absolute;
    top: -55px;
    right: 60px;
    left: inherit; }
    @media (max-width: 765px) {
      nav .extra-nav {
        position: relative;
        top: inherit;
        right: inherit;
        width: 100%; } }
    nav .extra-nav ul {
      position: relative;
      padding: 0; }
      nav .extra-nav ul li {
        display: inline-block;
        list-style: none;
        padding: 0 20px 0 0;
        margin: 0; }
        @media (max-width: 765px) {
          nav .extra-nav ul li {
            display: block;
            padding: 0; } }
        nav .extra-nav ul li a {
          color: #616365;
          font-weight: bold; }
          @media (max-width: 765px) {
            nav .extra-nav ul li a {
              background: #fff;
              border-bottom: 1px #3b4047 solid;
              display: block;
              padding: 10px 20px 17px; } }
          nav .extra-nav ul li a:hover {
            color: #3377c2;
            text-decoration: underline; }
  @media (max-width: 765px) {
    nav {
      max-height: 0;
      height: 0;
      -webkit-transition: 400ms max-height ease-in-out, 400ms height ease-in-out;
      transition: 400ms max-height ease-in-out, 400ms height ease-in-out;
      /*position: fixed;*/
      overflow-x: hidden;
      overflow-y: scroll; }
      nav.active {
        max-height: 94vh;
        height: 100vh; } }
  nav ul {
    margin: 0;
    padding: 0;
    text-align: left; }
    @media (max-width: 991px) {
      nav ul {
        /*position: relative;*/ } }
    @media (max-width: 765px) {
      nav ul {
        width: 100%; } }
  nav li {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav > ul {
    display: block;
    position: relative; }
    @media (max-width: 991px) {
      nav > ul {
        display: block;
        text-align: center;
        width: 100%; } }
    @media (max-width: 765px) {
      nav > ul {
        background: #dbdbdb;
        text-align: left; } }
    nav > ul > li {
      display: inline-block;
      color: #fff;
      padding: 0;
      position: static; }
      nav > ul > li:nth-child(1), nav > ul > li:nth-child(2) {
        position: relative; }
        @media (max-width: 1199px) {
          nav > ul > li:nth-child(1), nav > ul > li:nth-child(2) {
            position: static; } }
      @media (max-width: 1199px) {
        nav > ul > li {
          position: static; } }
      @media (max-width: 765px) {
        nav > ul > li {
          border-top: 1px #fff solid;
          display: block; }
          nav > ul > li:first-child {
            border: none; }
		 nav > ul > li ul.sub-items > li:first-child {
            /*border-top: none;*/ }
          /*nav > ul > li:last-child a {
            border-bottom: 1px #fff solid; }
			nav > ul-sub-items > li:last-child a {
            border-bottom: 0px #fff solid; }*/
			}
      nav > ul > li.active > a {
        color: #f38b00; }
		
        @media (max-width: 765px) {
          nav > ul > li.active > a {
            background: #f38b00;
            color: #fff; } }
        nav > ul > li.active > a:hover {
          color: #fff; }
        nav > ul > li.active > a:after {
          background: #f38b00; }
		  #main-menu > ul > li > a:hover {
          text-decoration:none; }
          @media (max-width: 765px) {
            nav > ul > li.active > a:after {
              background: #fff; } }
      nav > ul > li > a {
        color: #4E9D2D;
		font-size: 14px;
		text-transform: uppercase;
        display: inline-block;
        padding: 15px 45px;
        position: relative; }
        @media (max-width: 991px) {
          nav > ul > li > a {
            padding: 15px 30px; } }
        @media (max-width: 765px) {
          nav > ul > li > a {
            display: block;
            padding: 10px 20px 17px; } }
        nav > ul > li > a:after {
          display: block;
          height: 3px;
          /*background: #fff;*/
          width: 100%;
          position: relative;
          bottom: -2px;
          content: ""; }
        nav > ul > li > a:hover {
          color: #999;
		  }
          @media (max-width: 765px) {
            nav > ul > li > a:hover {
              color: #f38b00; } }
          nav > ul > li > a:hover:after {
            background: #f38b00; 
			 background: -webkit-linear-gradient(left, #f38b00 , #fad13e); /* For Safari 5.1 to 6.0 */
			  background: -o-linear-gradient(right, #f38b00, #fad13e); /* For Opera 11.1 to 12.0 */
			  background: -moz-linear-gradient(right, #f38b00, #fad13e); /* For Firefox 3.6 to 15 */
			  background: linear-gradient(to right, #f38b00 , #fad13e); /* Standard syntax */
			
			}
  nav li.active > .nav-section {
    max-height: 10000px; }
  nav li .nav-section {
    background: #4e9d2d;
    color: #fff;
    min-width: 900px;
    left: 0;
    position: relative;
    top: 59px;
    -webkit-transition: 300ms height ease, 300ms max-height ease-in-out, 300ms opacity ease-in-out;
    transition: 300ms height ease, 300ms max-height ease-in-out, 300ms opacity ease-in-out;
    }
    @media (max-width: 991px) {
      nav li .nav-section {
        min-width: inherit;
        width: 100%; } }
    @media (max-width: 765px) {
      nav li .nav-section {
        background: #50596a;
        max-height: 0;
        left: inherit;
        overflow: hidden;
        top: inherit;
        width: 100%; } }
    nav li .nav-section .close-nav-section {
      font-size: 18px;
	  background-color:#474c55;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 100; }
      @media (max-width: 765px) {
        nav li .nav-section .close-nav-section {
          display: none; } }
      nav li .nav-section .close-nav-section:hover {
        cursor: pointer; }
    nav li .nav-section .back-button {
      overflow: hidden; }
      @media (max-width: 765px) {
        nav li .nav-section .back-button {
          display: none; } }
      nav li .nav-section .back-button span {
        cursor: pointer;
        display: block;
        height: 50px;
        line-height: 46px;
        position: relative;
        right: -100px;
        -webkit-transition: 300ms right ease;
        transition: 300ms right ease; }
        nav li .nav-section .back-button span.active {
          right: 0; }
    nav li .nav-section li {
      padding: 1px 0; }
      @media (max-width: 765px) {
        nav li .nav-section li {
          border-top: 1px #fff solid; }
		/*nav li .nav-section li ul.sub-items li{
          border-top: 0px #fff solid; }*/
		  }
    nav li .nav-section a {
      color: #fff;
      display: inline-block;
      line-height: 18px;
      padding-bottom: 10px; }
      @media (max-width: 765px) {
        nav li .nav-section a {
          display: block;
          padding: 10px; } }
      @media (min-width: 769px) {
        nav li .nav-section a:hover {
          color: #f38b00;
          text-decoration: none; } }
    nav li .nav-section .nav-content {
      font-size: 14px;
      padding: 10px 18px 20px; }
	  nav li .nav-section .nav-content .nav-title  a{
		 text-decoration:underline;  
	  }
	  nav li .nav-section .nav-content .nav-title  a:hover{
		 text-decoration:underline;  
	  }
      nav li .nav-section .nav-content .nav-title {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 25px;
        text-align: left; }
        @media (max-width: 765px) {
          nav li .nav-section .nav-content .nav-title {
            display: none; } }
      nav li .nav-section .nav-content .nav-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 0 10px; }
        @media (max-width: 765px) {
          nav li .nav-section .nav-content .nav-row {
            display: block;
            padding: 0; } }
        nav li .nav-section .nav-content .nav-row > .nav-columns {
          width: 29%;
          border-right: 1px solid #fff;
          padding: 0 3%; }
          @media (max-width: 991px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns {
              position: static; } }
          @media (max-width: 765px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns {
              border: 0;
              padding: 0;
              width: 100%; } }
          @media (max-width: 991px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns ul {
              position: static; } }
          @media (max-width: 767px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list.active > ul {
              max-height: 1000px;
              opacity: 1; }
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list > ul {
              max-height: 0;
              opacity: 0;
              -webkit-transition: 300ms all ease;
              transition: 300ms all ease; } }
          @media (min-width: 769px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list .parent.sub-list > ul {
              margin-left: 15px; } }
          @media (max-width: 767px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list .parent.sub-list.active > ul {
              max-height: 1000px;
              opacity: 1; }
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list .parent.sub-list > ul {
              max-height: 0;
              opacity: 0;
              -webkit-transition: 300ms all ease;
              transition: 300ms all ease; } }
          @media (min-width: 769px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list .parent.sub-list .parent.sub-list > ul {
              margin-left: 15px; } }
          @media (max-width: 767px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list .parent.sub-list .parent.sub-list.active > ul {
              max-height: 1000px;
              opacity: 1; }
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list .parent.sub-list .parent.sub-list > ul {
              max-height: 0;
              opacity: 0;
              -webkit-transition: 300ms all ease;
              transition: 300ms all ease; } }
          @media (min-width: 769px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li > ul {
              padding-left: 15px;
              font-size: 12px;
              line-height: 22px; } }
          @media (min-width: 768px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li > ul {
              padding: 0 0 0 10px;
              font-size: 12px;
              line-height: 12px; }
			 nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li > ul.sub-items {
              padding: 0 0 10px 0;
              font-size: 14px;
              line-height: 18px; }
			  }
          @media (min-width: 768px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li > ul li::before {
              content: "-";
              position: relative;
              left: -5px; }
			nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li > ul.sub-items li::before {
              content: "";
              position: relative;
              left: 0px; }
			  }
          @media (min-width: 768px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li > ul li a {
              padding: 0; } }
          @media (max-width: 765px) {
            nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li > ul li a {
              /*padding-left: 70px !important;*/ }
			/*nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li > ul.sub-items li a {
              padding-left: 20px !important; }*/  /*causing issues with mobile*/
			nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list.active > ul {
				max-height: 1000px;
				opacity: 1;
			}
			nav li .nav-section .nav-content .nav-row > .nav-columns > ul > li.parent.sub-list > ul {
				max-height: 0;
				opacity: 0;
				transition: 300ms all ease;
				-moz-transition: 300ms all ease;
				-webkit-transition: 300ms all ease;
			}
		  }

		  @media (max-width: 765px) {
          nav li .nav-section .nav-content .nav-row > .nav-columns .nav-subtitle {
            margin-bottom: 0px; }
		  }
		  @media (min-width: 766px) {
          nav li .nav-section .nav-content .nav-row > .nav-columns .nav-subtitle {
            color: #989a99;
            border-bottom: 1px #989a99 solid;
            margin-bottom: 10px; }
		  
		  nav li .nav-section .nav-content .nav-row > .nav-columns .nav-subtitle  a{
            color: #989a99;
            }
			nav#main-menu li .nav-section .nav-content .nav-row > .nav-columns .nav-subtitle  a:hover{
            color: #f38b00;
			text-decoration:none;
            }
		 }
            /*@media (max-width: 765px) {
              nav li .nav-section .nav-content .nav-row > .nav-columns .nav-subtitle {
                display: none; } }
				*/
          nav li .nav-section .nav-content .nav-row > .nav-columns:first-child {
            padding-left: 0; }
          nav li .nav-section .nav-content .nav-row > .nav-columns:last-child {
            border-right: none; }
    nav li .nav-section .col-left {
      background: #ffd13f;
      height: 50px;
      font-size: 40px;
      line-height: 45px;
      text-align: center;
      width: 6%; }
      @media (max-width: 765px) {
        nav li .nav-section .col-left {
          display: none;
          width: 0; } }
    nav li .nav-section .col-right {
      width: 90%;
      min-height: 200px; }
      @media (max-width: 991px) {
        nav li .nav-section .col-right {
          width: 88%; } }
      @media (max-width: 765px) {
        nav li .nav-section .col-right {
          min-height: auto;
          padding: 0;
          width: 100%; } }
    @media (max-width: 899px) {
      nav li .nav-section {
        width: 100%; } }
  nav .parent.primary-level.active > .nav-section {
    display: block; }
  @media (max-width: 765px) {
	  nav .parent.primary-level.active-top > .nav-section {
		display: block; }
	  nav li.active-top > .nav-section {
		max-height: 10000px;	
	  }
  }
  nav .parent.primary-level:nth-child(1) > .nav-section, nav .parent.primary-level:nth-child(2) > .nav-section {
    right: inherit; }
  nav .parent.primary-level > .nav-section {
    display: none;
    overflow: hidden;
    position: absolute;
    left: inherit;
    right: 0;
    z-index: 10; }
    @media (max-width: 1199px) {
      /*nav .parent.primary-level > .nav-section {
        left: 0; }*/ }
    @media (max-width: 765px) {
      nav .parent.primary-level > .nav-section {
        display: inherit;
        position: relative;
        z-index: inherit; } }
    @media (max-width: 765px) {
      nav .parent.primary-level > .nav-section a {
        padding-left: 20px; } }
    @media (max-width: 765px) {
      nav .parent.primary-level > .nav-section {
        /* Level 2 */ }
        nav .parent.primary-level > .nav-section .nav-content {
          /* Level 3 */ }
          nav .parent.primary-level > .nav-section .nav-content a {
            padding-left: 5%;
            width: 87%; }
          nav .parent.primary-level > .nav-section .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul {
            /* Level 4 */ }
            nav .parent.primary-level > .nav-section .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul a {
              padding-left: 10%;
              width: 80%; }
            nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul {
              /* Level 5 */ }
              nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul a {
                padding-left: 15%;
                width: 75%; }
              nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul {
                /* Level 6 */ }
                nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul a {
                  padding-left: 20%;
                  width: 70%; }
                nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul {
                  /* Level 7 */ }
                  nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul a {
                    padding-left: 25%;
                    width: 65%; }
                  nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul .sub-list ul a {
                    padding-left: 30%;
                    width: 60%; } }
                    @media (max-width: 543px) {
                      nav .parent.primary-level > .nav-section {
                        /* Level 2 */ }
                        nav .parent.primary-level > .nav-section .nav-content {
                          /* Level 3 */ }
                          nav .parent.primary-level > .nav-section .nav-content a {
                            width: 80%; }
                          nav .parent.primary-level > .nav-section .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul {
                            /* Level 4 */ }
                            nav .parent.primary-level > .nav-section .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul a {
                              width: 70%; }
                            nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul {
                              /* Level 5 */ }
                              nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul a {
                                width: 65%; }
                              nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul {
                                /* Level 6 */ }
                                nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul a {
                                  width: 60%; }
                                nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul {
                                  /* Level 7 */ }
                                  nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul a {
                                    width: 55%; }
                                  nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .nav-content .sub-list ul .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .nav-content .sub-list ul .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .nav-content .sub-list ul a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul .nav-content a, nav .parent.primary-level > .nav-section .nav-content .sub-list ul .sub-list ul .sub-list ul .sub-list ul .sub-list ul a {
                                    width: 50%; } }
  @media (max-width: 767px) {
    nav .parent.levels, nav .parent .sub-list {
      display: block;
      position: relative;
      width: 100%; }
      nav .parent.levels.parent > .nav-section, nav .parent .sub-list.parent > .nav-section {
        margin-left: 0; } }
    @media (max-width: 765px) and (max-width: 765px) {
      nav .parent.levels.parent > .nav-section > .nav-content, nav .parent .sub-list.parent > .nav-section > .nav-content {
        padding: 0; } }
  @media (max-width: 765px) {
      nav .parent.levels.parent > a:hover::before, nav .parent .sub-list.parent > a:hover::before,
	  nav .parent.levels.parent > a:hover::before, nav .parent .sub-list.parent > p > a:hover::before
	  {
        cursor: pointer; }
      nav .parent.levels.parent > a::before, nav .parent .sub-list.parent > a::before,
	  nav .parent.levels.parent > a::before, nav .parent .sub-list.parent > p > a::before
	  {
        border-left: 1px #fff solid;
        content: '\f067';
        display: inline-block;
        font-size: 16px;
        font-family: 'FontAwesome';
        height: 39px;
        line-height: 42px;
        pointer-events: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 40px;
        z-index: 20; } }
  @media (max-width: 765px) {
    nav .parent.levels.active > a::before, nav .parent .sub-list.active > a::before, nav .parent .sub-list.active > p > a::before {
      content: '\f068'; } }
  nav .parent.levels.active > .nav-section, nav .parent .sub-list.active > .nav-section {
    left: 0; }
    @media (max-width: 765px) {
      nav .parent.levels.active > .nav-section, nav .parent .sub-list.active > .nav-section {
        left: inherit; } }
  nav .parent.levels > .nav-section, nav .parent .sub-list > .nav-section {
    min-width: 846px;
    margin-left: 0;
    position: absolute;
    left: 1000px;
    top: 0;
    z-index: 20;
    -webkit-transition: 300ms left, margin-left ease;
    transition: 300ms left, margin-left ease;
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms; }
    @media (max-width: 991px) {
      nav .parent.levels > .nav-section, nav .parent .sub-list > .nav-section {
        min-width: inherit;
        width: 100%; } }
    @media (max-width: 765px) {
      nav .parent.levels > .nav-section, nav .parent .sub-list > .nav-section {
        min-width: inherit;
        margin-left: 0;
        position: relative;
        left: inherit;
        -webkit-transition: 300ms max-height ease;
        transition: 300ms max-height ease;
        -webkit-transition-delay: 0;
                transition-delay: 0; } }
				
	@media (min-width: 766px) {
		nav .parent.secondary-level.active > .nav-section {
		margin-left: 54px; }
		nav .primary-level  .parent.levels.active > .nav-section {
		margin-left: 54px; }
		nav .primary-level  .parent.secondary-level.active .parent.levels.active > .nav-section {
		margin-left: 0px; }
	}
    @media (max-width: 765px) {
      nav .parent.secondary-level.active > .nav-section {
        margin-left: 0; } }
	@media (min-width: 766px) {	
	nav .parent.primary-level.active-top > a {
		color: #f38b00; }
	}
	@media (min-width: 766px) {
		nav .parent.primary-level.active-top > a::after {
			background-color: #f38b00; }
		nav .parent.secondary-level > a:after, nav .parent.levels > a:after{ 
			content: "\f0da"; 
			position: relative; 
			margin-left: 0.35em;
			font: normal normal normal 1em/1 FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased; 
		}
		nav#main-menu .parent.secondary-level > a:after, nav .parent.levels > a:hover:after{ 
			text-decoration: none;
		}
	}

/*******************
	SIDENAV
*******************/
.sidenav-contain{
	position: relative;
	left: 0;
	top: 0;
	width: 285px;
	height: auto;
	float: left;
	margin-right: 35px;
	
	 
}
.sidenav-contain .sidenav{
	background: #ebebeb;
	padding: 0;
	font-family: 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;
	overflow: hidden;
}
.sidenav-contain .sidenav .lvl-3{
	font-family: 'HelveticaNeueW01-55Roma', Helvetica, Arial, sans-serif;
}
.sidenav-contain ul,
.sidenav-contain ul li,
.sidenav-contain div{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.sidenav-contain .sidenav li{
	list-style: none;
}
.sidenav-contain .sidenav.lvl-1 > li > .expandable a{
	padding: 22px 20px 17px;
}
.sidenav-contain .sidenav li a{
	padding: 15px 0 15px;
	display: block;
	border-collapse: collapse;
	line-height: normal;
}
.sidenav-contain .sidenav .lvl-2 > ul > li.expanded:first-child > .expandable,
.sidenav-contain .sidenav .lvl-2 li a{
	border-top: #d7d8d6 0px solid;
}
.sidenav-contain .sidenav .lvl-2 > ul > li:first-child > .expandable  a,
.sidenav-contain .sidenav .lvl-2 > ul > li.expanded  > .expandable a{
	border-top: none
}
.sidenav-contain .sidenav.lvl-1 > li > .expandable,
.sidenav-contain .sidenav.lvl-1 > li > .expandable a{
	background: #585c65;
	color: #fff !important;
}
.sidenav-contain .sidenav .lvl-2 li > .expandable a{
	padding-right:60px;
}
.sidenav-contain .sidenav .lvl-2 li.expanded > .expandable,
.sidenav-contain .sidenav .lvl-2 li.expanded > .expandable a{
	background: #ebebeb;
	color: #4e9d2d !important;
	border-bottom: none;
}
.sidenav-contain .sidenav .lvl-2 li.expanded > .expandable span{
	color: #fff !important;
}
.sidenav-contain .sidenav .lvl-2 > ul > li{
	padding: 0 10px 5px 30px;
	border-bottom: 1px solid #b8b9ba;
}
.sidenav-contain .sidenav .lvl-3 a{
	padding: 1px 0 5px 0px;
}
.sidenav-contain .sidenav .lvl-3 a:hover{
	text-decoration: underline;
	color:#4e9d2d;
}
.sidenav-contain .sidenav .lvl-4 a{
	padding: 15px 0 15px 30px;
}
.sidenav-contain .sidenav .lvl-5 a{
	padding: 15px 0 15px 45px;
}

.sidenav-contain .sidenav li .expandable span:hover,
.sidenav-contain .sidenav li a:hover,
.sidenav-contain .sidenav li a.current,
.sidenav-contain .sidenav li.active-path > a,
.sidenav-contain .sidenav li.active-path > .expandable a{
	color: #333333;
}

/**** expandable ****/
.sidenav-contain .has-children .expandable{
	position:relative;
	margin: 0 -20px;
	padding: 0 20px;
}
.sidenav-contain .has-children .expandable span{
	content: "\f0c9";
	position: absolute;
	padding-right: 20px;
	right: 0;
	top: 0px;
	bottom: 0;
	display: none;
	line-height: 50px;
	width: 50px;
	border-left: 0px #c2c2c2 solid;
	border-collapse: collapse;
	z-index: 10;
	cursor: pointer;
}
.sidenav-contain .has-children .expandable span:before{
	content: "\f0c9";
	position: absolute;
	padding-right:20px;
	right: 0;
	bottom: 2px;
	width: 50px;
	text-align:center;
	font: normal normal normal 1.5em/42px FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #4e9d2d;
}
.sidenav-contain .has-children .lvl-2{
	padding-bottom: 25px;
}
.sidenav-contain .has-children .lvl-2 .expandable span{
	display: block;
}
.sidenav-contain .has-children.expanded > .expandable span:before{
	content: "\f0c9";
}
.sidenav-contain .lvl-2 .lvl{
	display: none;
}
.sidenav-contain .lvl-2 .expanded > .lvl{
	display: block;
}
.sidenav-contain .lvl-2 > ul > li:last-child > a,
.sidenav-contain .lvl-2 > ul > li:last-child > .expandable a{
	border-bottom: #d7d8d6 0px solid;
}


/*TABLET*/
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 990px) {
	/******sidenav******/
	.sidenav-contain{
		position: absolute;
		left: -285px;
		top: 3px;
		z-index:99999;
		-webkit-box-shadow: 7px 7px 9px -6px rgba(0,0,0,0.33);
		-moz-box-shadow: 7px 7px 9px -6px rgba(0,0,0,0.33);
		box-shadow: 7px 7px 9px -6px rgba(0,0,0,0.33);
		transition:1s;
		-webkit-transition:.5s;
		-moz-transition:.5s;
	}
	.sidenav-contain .tabletToggle{
		position:absolute;
		color:#fff;
		width:35px;
		height:58px;
		padding-left:15px;
		left:100%;
		top:0px;
		margin-top:0;
		background: #585c65;
		display:block;
		-webkit-box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.33);
		-moz-box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.33);
		box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.33);
		z-index: -5;
		cursor:pointer;
	}
	.sidenav-contain .tabletToggle:before{
		content: "\f067";
		vertical-align: 0.35em;
		font: normal normal normal 20px/60px FontAwesome;
	}
	.sidenav-contain.open{
		left: -0;
	}
	.sidenav-contain.open .tabletToggle:before{
		content: "\f068";
	}
}


/*MOBILE*/
@media screen and (max-width: 765px) {
	/******sidenav******/
	.sidenav-contain{
		/*display: none;*/
	}
	.main-menu-contain{
		max-height: calc(100% - 50px);
	}
	.main-menu-contain-spacer{
		display: none;
	}
	.sidenav-contain .tabletToggle{
		position:absolute;
		color:#fff;
		width:35px;
		height:34px;
		padding-left:15px;
		left:100%;
		top:0px;
		margin-top:0px;
		background: #585c65;
		display:block;
		-webkit-box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.33);
		-moz-box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.33);
		box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.33);
		z-index: -5;
		cursor:pointer;
	}
	.sidenav-contain .tabletToggle:before{
		content: "\f067";
		vertical-align: 0.0em;
		font: normal normal normal 20px/36px FontAwesome;
	}
}
@media screen and (max-width: 360px) {
	.sidenav-contain.open{
		width: 85%;
	}
}

#newmenu {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 330px;
}
	#newmenu .level {
		position: absolute;
		top: 0;
		left: 0;
		transition: ease left 300ms;
	}
	#newmenu .level1 {
		background: url(../images/level1.png) no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		z-index: 10;
	}
	#newmenu .level2 {
		background: url(../images/level2.png) no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		left: 900px;
		z-index: 20;
	}
	#newmenu .level3 {
		background: url(../images/level3.png) no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		left: 900px;
		z-index: 30;
	}
	#newmenu .back-button {
		position: absolute;
		top: 0;
		left: 0;
		height: 100px;
		width: 100px;
		z-index: 100;
	}
